li{
list-style-image: url(check-circle-regular-24.png);
}

table{
    border-spacing: 0.5;
    width: 60%;
}

thead{
    background-color: rgb(155, 155, 155);
    :hover{
        background-color: blueviolet;
        transition: background-color 2s;
        }
}
tbody th:nth-child(2){
    padding-left: 50px;
}

tbody tr:nth-child(odd){
   background-color: rgb(189, 189, 189);
   color: rgb(0, 0, 0);
}

tbody th:nth-child(4){ 
    text-align: center;
}

th,td{
    border: 1.5px solid black;
    padding: 5px;
}
