li{
list-style-image: url(check-circle-regular-24.png);
}

table{
    border-spacing: 0;
    width: 50%;
}

thead{
    background-color: blue;
}
tbody th:nth-child(2){
    padding-left: 50px;
}

tbody tr:nth-child(odd){
   background-color: rgb(245, 3, 3);
   color: antiquewhite;
}

tbody th:nth-child(4){ 
    text-align: center;
}